.login_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    .login_model {
        position: absolute;
        top: 50%;
        right: 25%;
        padding: 70px 40px;
        transform: translate(50%, -50%);
        background: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
    }
}